.ourServicesMainSection {
    .ourServicesBanner {
        height: 20rem;
        min-height: 231px;
        background-image: url('../../../Assets/Img/our-services.jpeg');
        position: relative;
        background-position: center center;
        background-size: cover;

        .ourServicesBanner1 {
            background-color: #020E1ABA;
            opacity: 1;
            height: 100%;
            width: 100%;
        }

        .ourServicesMainHeading {
            position: absolute;
            top: 6rem;
            left: 0;
            right: 0;
            text-align: center;

            h1 {
                color: #ffffff;
                font-size: 5rem;
                font-weight: 500;
                line-height: 1.4em;
            }
        }
    }

    p {
        font-size: 1.1rem;
    }

    .fundAdvisoryHeading,
    .assetsManagtHeading {
        color: #B9622D;
        font-size: 3.438rem;
        font-weight: 500;
        padding-left: 0;
        margin-bottom: 2rem;
    }
    .fundAdvisory,
    .assetsManagementSection,
    .fundManagement{
        background: #fff;
    }

    .fundAdvisory {
        width: 69%;
        margin: 0 auto;
        // background: #fff;
        box-shadow: rgb(255 255 255 / 88%) 0px 4px 8px 1px, rgb(255 255 255 / 30%) 0px 3px 7px -3px;
        padding: 5rem 2rem 2rem 3rem;
        border-radius: 1rem;
        position: relative;
        top: -3rem;
        left: 0;
        right: 0;



        .fundAdvisoryContent {
            // font-size: 1.1rem;
            padding: 0 2rem 0 0;

            p {
                max-width: 96%;
                color: rgb(101, 111, 128);
                margin-bottom: 1.8rem;

            }
        }


        .fundAdvisoryImg {
            padding: 1rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .assetsManagementSection {
        // background: #fff;
        padding: 5rem 0;

        .assetsManagementContent {
            width: 35%;
            margin: 0 auto;
            text-align: center;

            .spectraGlobaloffer {
                // font-size: 1.1rem;
                color: rgb(101, 111, 128);
            }
        }
    }

    .fundManagement{
        .fundManagementContentSection{
            text-align: right;
        }
    }
    .fundManagementMainSection {
        padding: 3rem 0;

        .fundManagementSection {
            width: 65%;
            margin: 0 auto;
            align-items: center;

            .fundManagementContentSection {
                color: rgb(100 97 97);
                .fundManagementHeading {
                    font-size: 2rem;
                    font-weight: 500;
                    margin-bottom: 2rem;
                }

                .fundManagementContent {
                    line-height: 2;
                }

            }

            .fundManagementImg {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                }
            }
        }
    }
}