.ourServicesMainSection {
    overflow-x: hidden;
    .ourServicesInfoSection {
        width: 90vw;
        margin: 0 auto;

        .ourServcesMainHeading {
            color: #FCFCFC;
            font-size: 5rem;
            font-weight: 500;
            margin-top: 2rem;
            text-align: center;
        }

        .fundAdvisory {
            padding: 4rem 0rem;

            .fundAdvisoryContent {
                font-size: 1.375rem;
                padding: 0 2rem 0 0;
                text-align: justify;

                .fundAdvisoryHeading {
                    color: #FCFCFC;
                    font-weight: 400;
                    font-size: 3.125rem;

                }

                p {
                    max-width: 96%;
                    color: #FCFCFC;
                    margin-bottom: 1.8rem;
                    line-height: 1.8;
                    // font-size: 1.375rem;
                }
            }

            .fundAdvisoryImg {
                // padding: 3rem 0 3rem 3rem;
                height: 39rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                    // object-fit: fill;
                }
            }
        }

    }

    .fundAdvisoryHeading,
    .assetsManagtHeading {
        padding-left: 0;
        margin-bottom: 2rem;
    }

    .assetsManagementSection {

        background: #fff;
        padding-bottom: 2rem;

        .assetsManagement {
            padding: 5rem 0;

            .assetsManagementContent {
                width: 66%;
                margin: 0 auto;
                text-align: center;

                .assetsManagtHeading {
                    color: #0D0D0D;
                    font-size: 4rem;

                }

                .spectraGlobaloffer {
                    // font-size: 1.1rem;
                    color: rgb(101, 111, 128);
                    font-size: 1.375rem;
                }
            }
        }

        .fundManagement {
            display: flex;
            justify-content: end;

            .fundManagementContentSection {
                // text-align: right;
                padding-right: 6rem;
                padding-left: 0 !important;
            }
        }


        .fundManagementMainSection {
            width: 90vw;
            margin: 0 auto;
            padding: 3rem 0;

            .fundManagementSection {
                align-items: center;
                background: rgb(76 75 80 / 5%);
                border-radius: 20px;
                width: 72.7vw;
                color: #0D0D0D;

                .fundManagementContentSection {
                    color: #0D0D0D;
                    padding-left: 6rem;

                    .fundManagementHeading {
                        font-size: 2.375rem;
                        font-weight: 500;
                        margin-bottom: 2rem;
                        // text-align: center;
                        max-width: 75%;
                        letter-spacing: 2px;
                    }

                    .fundManagementContent {
                        line-height: 1.7;
                        text-align: justify;
                        // max-width: 63%;
                        // margin: 0 auto;
                        font-size: 1.4rem;

                    }

                }

                .fundManagementImg {
                    display: flex;
                    padding: 0;

                    &:nth-child(odd) {
                        justify-content: start;
                    }

                    &:nth-child(even) {
                        justify-content: end;
                    }

                    img {
                        // width: 100%;
                        // height: 100%;
                        object-fit: cover;
                        // box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                    }
                }
            }
        }


    }
}