.headerSection {
    // max-width: 1280px;
    // margin: 0 auto;
    // width: 100%;


    position: absolute;
    width: 100%;
    .navbarSection {
        padding: 1rem 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (min-width: 1030px) and (max-width: 1566px) {
            padding: 0 2rem;

        }

        @media screen and (max-width: 768px) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        img {
            width: 124px;
            height: 32px;
        }

        .navLinkSection {
            display: flex;
            justify-content: end;
            align-items: center;
            list-style-type: none;
            margin-bottom: 0;

            @media screen and (max-width: 768px) {
                display: none;
            }

            li {
                // color: #ffff;
                font-weight: 400;
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 2.5rem;
                }

                a {
                    color: inherit;
                    border: none;
                }
            }

        }

        .activeText {
            color: #ffff;
        }

        .navLinkText {
            color: rgba(255, 255, 255, 0.7);
        }

        .mobileLink {
            display: none;

            @media screen and (max-width: 768px) {
                display: flex;
                justify-content: flex-end;
                // align-items: center;
                flex-direction: row-reverse;
                // flex: 1 1 0%;

                img {
                    width: 28px;
                    height: 28px;
                    object-fit: contain;
                }

                .sideBar {
                    background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
                    animation: sideTop 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                    padding: 1.5rem;
                    border-radius: 0.75rem;
                    min-width: 140px;
                    position: absolute;
                    top: 4rem;
                    right: 0;
                    margin: 0.5rem 1rem;
                }

                ul {
                    list-style-type: none;
                    padding-left: 0;
                    margin-bottom: 0;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }

                }
            }
        }

        @keyframes sideTop {
            0% {
                transform: translateY(100px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }

}