.heading {
    // line-height: 1.57;
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
        line-height: 1.4;
        font-size: 2.5rem;
    }

}

.paragraph {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.7;
    font-weight: 400;
    font-size: 1.125rem;
    max-width: 80%;
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}
.paddingSection{
    padding: 4rem 0;
    @media only screen and (min-width: 1030px) and (max-width: 1566px) {
        padding: 3rem 2rem;

    }
    @media screen and (max-width: 768px) {
        padding: 1.5rem 0;
    }
}