body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:rgb(0 4 15 / 1) !important;
  overflow-x: hidden;

}

code {
  font-family: 'Poppins', sans-serif;
}
.containers{
  /* padding-top: 4rem; */
  max-width: 1380px;
  margin: 0 auto !important;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .containers{
    padding-left: 1.5rem ;
    padding-right: 1.5rem ;
  }
}